footer {
  padding: 2rem 2rem 3rem;
  background-color: var( --accent-color);
  color: var(--color-white);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  color: var(--color-white);
  text-decoration: underline;
}

footer .footer a:hover {
  text-decoration: none;
}